{{!-- Dashboard view --}}
<div class="title container mt-5">
    <h1>Welcome to your Dashboard</h1>
</div>

<div class="container mt-5">
    <div class="post-list row row-cols-1 row-cols-md-3 g-4">
        {{#each posts}}
        <div class="col post-list">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title fs-3 mb-4 fw-bold">{{ title }}</h5>
                    <p class="card-text">{{{format_date createdAt}}}</p>
                    <p class="card-text">Posted by: {{ user.username }}</p>
                    <div class="buttons mt-2">
                        <a href="/post/{{ id }}" class="btn btn-dark fw-bold btn-sm mt-2">VIEW POST</a>
                        <a href="/edit/{{ id }}" class="btn btn-warning fw-bold btn-sm mt-2">EDIT POST</a>
                        <button class="deleteBtn btn btn-danger fw-bold btn-sm mt-2" data-id="{{ id }}">DELETE</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

{{#if logged_in}}
<div class="addPost text-center mt-5">
    <a href="/addGame" class="btn btn-dark fw-bold">
        <span class="material-symbols-outlined me-2">add_circle</span>ADD NEW POST
    </a>
</div>
{{/if}}

<script src="/js/deletePost.js"></script>

