<!-- Dashboard content -->
<div class="title container mt-5">
    <h1>Dashboard</h1>
    <p class="lead">Welcome to your dashboard! Here, you can manage your blog posts.</p>
</div>

{{#if posts}}
<div class="postBox container mt-5">
    {{#each posts}}
    <div class="card mb-3">
        <div class="card-body">
            <a href="/post/{{ id }}"><h5 class="card-title">{{ title }}</h5></a>
            <p class="card-text">Date: {{format_date createdAt}}</p>
            <p class="card-text">{{ description }}</p>
            <p class="card-text">Posted by: {{ user.username }}</p>
            <div class="button-group">
                <a href="/updatePost/{{ id }}" class="btn btn-primary">Edit</a>
                <button class="btn btn-danger delete-post" data-id="{{ id }}">Delete</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>No posts found.</p>
{{/if}}

{{#if logged_in}}
<div class="addPost text-center mt-5">
    <a href="/addGame" class="btn btn-dark fw-bold">
        <span class="material-symbols-outlined me-2">add_circle</span>ADD NEW POST
    </a>
</div>
{{/if}}

<script src="./js/dashboard.js"></script>
